@model Proyecto_Produccion.Models.Cpstock

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Cpstock</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Demanda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Demanda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TiempoReposo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TiempoReposo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InventarioSeguridad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InventarioSeguridad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Resultado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Resultado)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Idcpstock">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
