@model IEnumerable<Proyecto_Produccion.Models.Cpstock>

@{
    ViewData["Title"] = "CP en Stock";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Crear nuevo CP en Stock</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Demanda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TiempoReposo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InventarioSeguridad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resultado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Demanda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TiempoReposo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InventarioSeguridad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Resultado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Idcpstock">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Idcpstock">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Idcpstock">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
