@model IEnumerable<Proyecto_Produccion.Models.Cpstock>

@{
    ViewData["Title"] = "CP en Stock";
}

<h1>CP en Stock</h1>

<p>
    <a asp-action="Create" style="color: #fff;">Crear nuevo CP en Stock</a>
</p>
<table class="styled-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Demanda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TiempoReposo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InventarioSeguridad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resultado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Demanda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TiempoReposo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InventarioSeguridad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Resultado)
            </td>
            <td>
                    <a asp-action="Delete" asp-route-id="@item.Idcpstock" style="color: #fff;">Borrar CP en Stock</a>
            </td>
        </tr>
}
    </tbody>
</table>
