@model Proyecto_Produccion.Models.JitKanban

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>¿Estás seguro que quieres eliminar esto?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Demanda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Demanda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TiempoVuelta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TiempoVuelta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TamañoRecipiente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TamañoRecipiente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.N)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.N)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InventarioMaximo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InventarioMaximo)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdJitKanban" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" style="color: #fff;">Regresar</a>
    </form>
</div>
