@model IEnumerable<Proyecto_Produccion.Models.JitKanban>

@{
    ViewData["Title"] = "Index";
}

<h1>Cálculo de Recipientes</h1>

<p>
    <a asp-action="Create" style="color: #fff;">Nuevo Cálculo</a>
</p>
<table class="styled-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Demanda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TiempoVuelta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TamañoRecipiente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.N)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InventarioMaximo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Demanda)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TiempoVuelta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TamañoRecipiente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.N)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InventarioMaximo)
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.IdJitKanban" style="color: #fff;">Borrar JIT Kanban</a>
                </td>
            </tr>
        }
    </tbody>
</table>
