@model IEnumerable<Proyecto_Produccion.Models.MantenimientoCorrectivo>

@{
    ViewData["Title"] = "Index";
}

<h1>Cálculo Mantenimiento Correctivo</h1>

<link rel="stylesheet" href="styles.css">


<p>
    <a asp-action="Create" style="color: #fff;">Nuevo Cálculo</a>
</p>

<table class="styled-table">
    <thead>
        <tr>
            <th>
                Horas Trabajo
            </th>
            <th>
                MTBF
            </th>
            <th>
                Numero de Fallas
            </th>
            <th>
                Duración Tarea
            </th>
            <th>
                Costo x Hora Trabajo
            </th>
            <th>
                Repuestos
            </th>
            <th>
                Tareas Adicionales
            </th>
            <th>
                Retraso Logístico
            </th>
            <th>
                Costo Unitario
            </th>
            <th>
                Costo x Falla Única
            </th>
            <th>
                Costo Mantenimiento Correctivo
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HorasTrabajo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mtbf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroFallas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DuracionTarea)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CostoHoraTrabajo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Repuestos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TareasAdicionales)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RetrasoLogistico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CostoUnitario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CostoFallaUnica)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Resultado)
            </td>
            <td>
                    <a asp-action="Delete" asp-route-id="@item.Idmantenimiento" style="color: #fff;">Borrar Mantenimiento</a>
                </td>
        </tr>
}
    </tbody>
</table>


