@model Proyecto_Produccion.Models.Luc

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Luc</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequerimientoBruto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequerimientoBruto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Periodo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Periodo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CostoMantenimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CostoMantenimiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CostoDeOrdenar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CostoDeOrdenar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CostoTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CostoTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CostoTotalU)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CostoTotalU)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Idluc">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
