@model List<Proyecto_Produccion.Models.Luc>
<!DOCTYPE html>
<html>
<head>
    <title>LUC Calculator</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }

        .highlight-row {
            background-color: yellow;
        }
    </style>
</head>
<body>
    <h1>Calculadora LUC</h1>
    <form method="post" action="@Url.Action("CalculateLUC", "Luc")">
        <label for="Periodo">Número de Períodos:</label>
        <input type="number" id="Periodo" name="Periodo" required />
        <br />
        <label for="RequerimientoBruto">Requerimientos Brutos (separados por comas):</label>
        <input type="text" id="RequerimientoBruto" name="RequerimientoBruto" required />
        <br />
        <label for="costoDeOrdenar">Costo de Ordenar:</label>
        <input type="number" step="0.01" id="costoDeOrdenar" name="costoDeOrdenar" required />
        <br />
        <label for="CostoMantenimiento">Costo de Mantenimiento:</label>
        <input type="number" step="0.01" id="CostoMantenimiento" name="CostoMantenimiento" required />
        <br />
        <button type="submit">Calcular LUC</button>
    </form>

    @if (Model != null && Model.Count > 0)
    {
        <h2>Resultados LUC:</h2>
        <table>
            <thead>
                <tr>
                    <th>Período</th>
                    <th>Unidades</th>
                    <th>S</th>
                    <th>K</th>
                    <th>Costo Total</th>
                    <th>Costo Total/ Unidades</th>

                </tr>
            </thead>
            <tbody>
                @{



                    @foreach (var item in Model)
                    {

                        <tr style="@(item.CostoTotal == Model.Max(x => x.CostoTotal) || item.CostoTotal == Model.OrderByDescending(i => i.CostoTotal).Skip(1).Take(1).FirstOrDefault().CostoTotal ? "text-decoration: underline; background-color: yellow;" : "")">
                            <td>@item.Periodo</td>
                            <td>@item.RequerimientoBruto</td>
                            <td>@item.CostoDeOrdenar</td>
                            <td>@item.CostoMantenimiento.ToString("C")</td>
                            <td>@item.CostoTotal</td>
                            <td>@item.CostoTotalU</td>


                        </tr>
                    }


                }
                }
            </tbody>
        </table>
    }
</body>
</html>
