@model IEnumerable<Proyecto_Produccion.Models.Luc>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Calcular LUC</a>
</p>
<table class="table">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.Periodo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequerimientoBruto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CostoMantenimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CostoDeOrdenar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CostoTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CostoTotalU)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr style="@(item.CostoTotal == Model.Max(x => x.CostoTotal) || item.CostoTotal == Model.OrderByDescending(i => i.CostoTotal).Skip(1).Take(1).FirstOrDefault().CostoTotal ? "text-decoration: underline; background-color: yellow;" : "")">

            
            <td>
                @Html.DisplayFor(modelItem => item.Periodo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequerimientoBruto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CostoMantenimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CostoDeOrdenar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CostoTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CostoTotalU)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Idluc">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Idluc">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Idluc">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
