@model IEnumerable<Proyecto_Produccion.Models.Cpfijo>

@{
    ViewData["Title"] = "Index";
}

<h1>Cálculo de Costo Fijo</h1>
<p>
    <a asp-action="Create" style="color: #fff;">Crear nuevo CP Fijo</a>
</p>
<table class="styled-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Demanda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InventarioPedido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InventarioSeguridad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resultdado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Demanda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InventarioPedido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InventarioSeguridad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Resultdado)
            </td>
            <td>
               
                    <a asp-action="Delete" asp-route-id="@item.Idcpfijo" style="color: #fff;">Borrar CP Fijo</a>
            </td>
        </tr>
}
    </tbody>
</table>
