@model Proyecto_Produccion.Models.Eoq

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Eoq</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Demanda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Demanda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CostoPedido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CostoPedido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CostoMantenimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CostoMantenimiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PeriodoSeleccionado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PeriodoSeleccionado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Resultado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Resultado)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Ideoq" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
