@model IEnumerable<Proyecto_Produccion.Models.Eoq>

@{
    ViewData["Title"] = "Index";
}

<h1>Cálculo de EOQ</h1>

<p>
    <a asp-action="Create">Calcular nuevo EOQ</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Demanda
            </th>
            <th>
                Costo del Pedido
            </th>
            <th>
                Costo de Mantenimiento
            </th>
            <th>
                Período
            </th>
            <th>
                Resultado EOQ
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Demanda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CostoPedido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CostoMantenimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PeriodoSeleccionado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Resultado)
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.Ideoq">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
